.sticky-header {
	position: sticky;
	top: 0;
	z-index: 99;
}

.menu {
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	font-size: 16px;
	padding: 6px 12px;
	z-index: 1010;
	display: flex;
	justify-content: left;
}

.navigation-menu {
	background-color: #3498db;
}

.step-by-step-guide {
	background-color: #3e3e3eff;
}

.items {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 20px;
	align-items: center;
}

.menu ul {
	list-style: none;
	display: flex;
	gap: 1rem;
	padding: 0;
	margin: 0;
	align-items: center;
}

.menu ul li {
	display: inline-block;
}

.menu ul li a {
	color: #f9f9f9;
	text-decoration: none;
	font-weight: 600;
	display: inline-block;
	padding: 8px 16px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 4px;
	transition: all 0.2s ease;
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.menu .explanation {
	width: 270px;
}

.menu ul li a:hover {
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.4);
	transform: translateY(-1px);
}

.menu ul li a.active {
	color: #000000;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu ul li b {
	color: #ffffff;
}

.menu ul li.session-name {
	color: #ffffff;
	font-size: 1rem;
}